.login {
    width: 1000px;
    margin: 50px auto;
    color: deeppink;
}

h1 {
    text-align: center;
    margin-bottom:35px;
}
.imgs{
  margin: 0 auto;
  width: 834px;
  height: 220px;
  border: 1px solid lightcyan;
  position: relative;
  overflow: hidden;
}
.imgs ul {
    width:2224px;
    height: 220px;
    position: absolute;
    top: 0;
    left: 0;
       }

.imgs ul li {
    list-style-type: none;
    width: 139px;
    height: 220px;
    float: left;
       }

ul li img {
    vertical-align: middle;
}

form {
    text-align: center;
    margin-top: 25px;
}

form #nameTxt,form #pwdTxt {
    margin: 5px;
    width: 125px;
}
form #btn {
    margin: 5px;
    width: 80px;
    font-size: 16px;
    letter-spacing: 0.5em;
    text-align: center;
}
.msg{
  width:300px;
  height:300px;
  line-height: 36px;
  font-size: 24px;
  background-color: lightcyan;
  position: absolute;
  text-indent: 2em;
  top:300px;
  right:150px;
  display:none;
  border:2px solid coral;
}
